.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C5A16F;
  width: 100%;
  height: 60px;
  position: fixed;
}


.title {
  color: rgb(131, 75, 12);
  font-family: 'Courier New', Courier, monospace;
}


.title:hover {
  color: rgb(112, 63, 7);
}